In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('违约风险.csv',encoding='gbk')
data

         违约概率 信誉评级
0    0.144146    A
1    0.109683    A
2    0.087636    C
3    0.100442    C
4    0.132734    B
..        ...  ...
118  0.690629    D
119  0.863239    D
120  0.669896    D
121  0.813119    D
122  0.858223    D

[123 rows x 2 columns]

In [17]:
A_max = data[data['信誉评级']=='A']['违约概率'].max()
A_min = data[data['信誉评级']=='A']['违约概率'].min()

B_max = data[data['信誉评级']=='B']['违约概率'].max()
B_min = data[data['信誉评级']=='B']['违约概率'].min()

C_max = data[data['信誉评级']=='C']['违约概率'].max()
C_min = data[data['信誉评级']=='C']['违约概率'].min()

D_max = data[data['信誉评级']=='D']['违约概率'].max()
D_min = data[data['信誉评级']=='D']['违约概率'].min()

In [18]:
dd = {'A':[A_max,A_min],
     'B':[B_max,B_min],
     'C':[C_max,C_min],
     'D':[D_max,D_min]}

d1 = pd.DataFrame(data=dd,index=['Max','Min'])
d1

            A         B         C         D
Max  0.434712  0.756349  0.638270  0.882178
Min  0.078757  0.100952  0.087636  0.237270

In [27]:
A_des = data[data['信誉评级']=='A']['违约概率'].describe()
B_des = data[data['信誉评级']=='B']['违约概率'].describe()
C_des = data[data['信誉评级']=='C']['违约概率'].describe()
D_des = data[data['信誉评级']=='D']['违约概率'].describe()

dd2 = {'A':A_des,'B':B_des,'C':C_des,'D':D_des}
d2 = pd.DataFrame(data=dd2)
d2

               A          B          C          D
count  27.000000  38.000000  34.000000  24.000000
mean    0.145062   0.181696   0.208571   0.709669
std     0.067785   0.107809   0.146612   0.169678
min     0.078757   0.100952   0.087636   0.237270
25%     0.110293   0.137316   0.121182   0.651753
50%     0.128696   0.161150   0.156689   0.780061
75%     0.162311   0.191359   0.198689   0.814742
max     0.434712   0.756349   0.638270   0.882178

In [29]:
d2.to_csv('各类信誉评级的违约风险的描述性统计分析.csv',encoding='gbk')